/*
    BASIC STYLES
*/

body {
  color: #ccc;
  font-size: 14px;
  font-family: 'Play';
  line-height: 1.5;
  background: #111;
}

a {
  color: #63a52a;
  text-decoration: none;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;}

a:hover {
  text-decoration: underline;
  color: #90D355;
}

p {
  margin: 0 0 20px;
}

h1, h2, h3, h4, h5 {
  color: #FF9900;
  margin: 0 0 20px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 20px;
  margin: 0;
}

hr {
  background: #FF9900;
  border: 0;
  outline: 0;
  height: 4px;
  margin: 10px -20px;
}

.iframe-wrapper {
  max-width: 1280px;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
  height: 0;
  padding-bottom: 56.25%;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  max-height: 720px;
  overflow: hidden;
  left: 0; top: 0;
  border: 0;
}

img.center {
  display: block;
  margin: 0 auto;
}

p + ul {
  margin-top: -20px;
}


/*
    MAIN LAYOUT
*/

h1.title {
  margin: 0 0 10px;
  font-size: 72px;
  font-family: 'Play';
  color: #FF9900;
  text-align: center;
  text-shadow: 4px 4px #666;
}

.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 60px;
}

#container {
  border: 1px solid #1e1e1e;
  background: #ddd url(../images/pattern.jpg);
  box-shadow: 0 0 5px #b1b1b1;
}

p.tagline {
  padding: 20px;
  margin-bottom: 0;
  color: #FF9900;
  font-size: 17px;
  text-shadow: 2px 2px #444;
  text-align: center;
}

#main {
  padding: 0 20px 10px;
  background-color: #1e1e1e;
}


/*
    BARs
*/

.download-bar {
  background: #1e1e1e;
  border: 5px solid #444;
  padding: 0;
  margin: 0 -35px;
  position: relative;
  text-align: center;
  z-index: 5;
}

.navigation-bar {
  background: #1e1e1e;
  border-bottom: 4px solid #FF9900;
  padding: 0;
  margin: 0 -20px 20px;
  position: relative;
  text-align: center;
  z-index: 5;
}

.download-bar ul,
.navigation-bar ul {
  margin: 0 auto;
  padding: 0;
}

.download-bar li,
.navigation-bar li {
  display: inline-block;
}

.download-bar li a,
.navigation-bar li a {
  display: block;
  padding: 10px 20px;
  color: #ccc;
  font-size: 18px;
}

.download-bar li a:hover,
.navigation-bar li a:hover {
  background: #FF9900;
  text-decoration: none;
}

.main-body > div:target {
  position: relative;
}

.main-body > div,
.main-body > div:target ~ #home  {
  display: none;
  margin-top: -300px;
  padding-top: 300px;
}

#home, .main-body > div:target {
  display: block;
}

.avatar {
  vertical-align: top;
  height: 27px;
}

.download-bar .blc {
  border: 10px solid black;
  border-color: transparent transparent black;
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  bottom: -15px;
  left: 0;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);  /* IE9 */
  -webkit-transform: rotate(45deg); /* 2014 current */
}

.download-bar .trc {
  border: 10px solid black;
  border-color:  black transparent transparent;
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: -15px;
  right: 0;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);  /* IE9 */
  -webkit-transform: rotate(45deg); /* 2014 current */
}

.current-section {
  position: fixed;
  top: 0;
  left: 50%;
  width: 693px;
  margin-left: -352px;
  background: #222;
  border: 5px solid #444;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity ease-in-out 0.3s;
  -webkit-transition: opacity ease-in-out 0.3s;  /* Safari <=6.1, Android <= 4.3 */
}

.current-section p {
  padding: 5px 27px;
  font-size: 24px;
  font-weight: bold;
}

.current-section a {
  float: right;
  text-indent: -10000px;
  background: transparent url(../images/top.png) no-repeat 0 0;
  width: 20px;
  height: 20px;
  opacity: 0.8;
  margin-right: 12px;
  margin-top: 12px;
  opacity: 0.8;
  filter:alpha(opacity=80);  /* IE 5-7 */
  transition: opacity ease-in-out 0.3s;
  -webkit-transition: opacity ease-in-out 0.3s;  /* Safari <=6.1, Android <= 4.3 */
}

.current-section a:hover {
  opacity: 1;
  filter:alpha(opacity=100);  /* IE 5-7 */
}

.current-section a.zip {
  margin-right: 8px;
}

a.download-button {
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
  text-indent: 0!important;
  width: auto;
  background: #999; /* for non-css3 browsers */
  background: -webkit-linear-gradient(top,  #37ADD4,  #1B657E);  /* Safari <=6.1, Android <= 4.3 */
  background: linear-gradient(to bottom,  #37ADD4,  #1B657E);
  height: auto;
  padding: 0;
}

.pdf-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 100vh;
}

.pdf-container object {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
}